#header {
  padding: 20px 0;
 background: #101010;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
   &--title{
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 90%;
    h1{
      font-size: 56px;
      color: red;
      font-weight: 700;
    }

    &__nav {
      .active {
        color: red;
      }

      &--item {
        font-size: 20px;
        font-weight: 700;
        color: #ffffff;
        margin: 0 20px;
      }
    }

    &__sign{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 20%;

      select{
        padding: 8px 20px;
        border-radius: 8px;
        background: #151010;
        color: white;
        outline: none;
        font-size: 16px;
        font-weight: 400;
        border: 2px solid #b9b6b6;
        margin: 0 20px;
      }

      button{
        padding: 8px 25px;
        border-radius: 8px;
        color: white;
        background: red;
        font-weight: 400;
        font-size: 16px;
        border: none;
      }

    }
     &__search{
       input{
         padding: 8px 25px;
         border-radius: 8px;
         outline: none;
       }
       button{
         padding: 8px 25px;
         border: none;
         cursor: pointer;
         background: #3585d5;
         border-radius: 8px;
         color: white;
       }

     }
  }
  }

}